# source
lib
src
test
scripts

.editorconfig
.prettierrc
package-lock.json
tsconfig.json
.eslintignore
.eslintrc.js
.github
.vscode

# misc
renovate.json
npm-debug.log
.DS_Store
.commitlintrc.json
.release-it.json
CONTRIBUTING.md
